extends ./layouts/_styleguide.pug

block nav
block content
	.l__site-header
		include modules/_site-header.pug
		.l__site-nav

	.l__project(data-js-project-section)
		.l__project__content-wrapper
			.project-item.l__floating-box(style="top:5rem; left:27rem;")
				img(src="/images/styleguide-mc-hammer.gif")

			.project-item.l__fixed-box(data-js-fixed-item)
				include modules/_nav-menu-b.pug
				h3 Hello
				p
					| This is the Curtistan styleguide.
					| It contains all the modules and styles
					| used on <a href="http://curtistan.diamonds">curtistan.diamonds</a>.
				p here's a menu in case you get lost.

	.l__project(data-js-project-section)
		.l__project__content-wrapper
			.project-item.l__floating-box(style="top:1rem; left:5rem;")
				h1 Colors
			.project-item.l__floating-box(style="top: 24rem;left: 7rem;width:11rem;")
				figure
					.color-swatch--background
					figcaption background color
			.project-item.l__floating-box(style="top: 9rem;left: 7rem;width:11rem;")
				figure
					.color-swatch--text
					figcaption text color
			.project-item.l__floating-box(style="top:4rem;left: 25rem;width:11rem;")
				figure
					.color-swatch--primary
					figcaption primary color
			.project-item.l__floating-box(style="top: 18rem;left: 19rem;width:11rem;")
				figure
					.color-swatch--secondary
					figcaption secondary color
			.project-item.l__floating-box(style="top: 24rem;left: 37rem;width:11rem;")
				figure
					.color-swatch--ternary
					figcaption ternary color

			.project-item.l__fixed-box(data-js-fixed-item)
				p these are some colors


	.l__project.show-grid(data-js-project-section)
		.l__project__content-wrapper.show-grid-outline
			.project-item.l__floating-box(style="top:5rem;left: 18rem;width: 7rem;")
				h1 Grid
			.project-item.l__floating-box(style="top:12rem;left: 7rem;width: 23rem;")
				p The grid is made up of columns that are 5rems wide, with a 1rem gutter. 1rem is set to equal 18px. Content is contained within a centered 9 column grid.
	.l__project(data-js-project-section)
		.l__project__content-wrapper
			.project-item.l__floating-box(style="top:5rem;left: 18rem;width: 7rem;")
				h1 Typography
			.project-item.l__floating-box(style="top:12rem;left: 7rem;width: 29rem;")
				h1
					a(href="#base-elements") This is an H1 heading
				h2 This is an H2 heading
				h3 This is an H3 heading
				address This is an address tag, it can hold date and <a href="#">author</a> info.
				p This is a pargraph of text. The default font size (1rem) is 18px. Font sizes are increased or decreased based on a module scale with a ratio of 1:1.5.
				p Oh yeah, the font is called <a href="https://fonts.google.com/specimen/Poppins">Poppins</a>.
			.project-item.l__floating-box(style="top: 27rem;left: 30rem;width: 18rem;")
				p these are the font sizes
				p.font-size--xx-large xx-large
				p.font-size--x-large x-large
				p.font-size--large large
				p.font-size--regular regular
				p.font-size--small small

	.l__project(style="background-image:url(/images/styleguide-background-1.jpg);", data-js-project-section)
		.l__project__content-wrapper
			.project-item.l__floating-box(style="top:5rem; left:13rem; width:23rem;")
				h2 Header H2
				p The background images create Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

			.project-item.l__floating-box(style="top:17rem; left:31rem; width:23rem;")
				blockquote This is a blockquote

			.project-item.l__floating-box(style="top:19rem; left:11rem; width:23rem;")
				h3 Header h3
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
			.project-item.l__floating-box(style="top:29rem; left:13rem; width:23rem;")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
	.l__project(style="background-image:url(/images/styleguide-background-2.jpg);", data-js-project-section)
		.l__project__content-wrapper
			.project-item.l__floating-box(style="top:5rem; left:13rem;")
				h2 Now let's try images, of bears, I guess.
			.project-item.l__floating-box(style="top:7rem; left:13rem; width:23rem;")
				figure
					img(src="https://placebear.com/300/200", alt="")
					figcaption this is an image with a caption
				h3 this is just an image.
				img(src="https://placebear.com/300/200", alt="")
