@import 'settings/grid';
@import 'settings/modularscale';

@mixin outline {
	//outline: 1px solid red;
}
:root {
	--cw: 5rem;
}

.l__content-wrapper {
	max-width: $grid-content-width;
	margin: 0 auto;
	@include outline;
}

.l__site-header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	@include outline;
}

.l__project {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	width: 100%;
	overflow: visible;
}

section.l__project:first-of-type {
	padding-top: ms(3);
}

.l__project__content-wrapper {
	max-width: $grid-content-width;
	margin: 0 auto;
	position: relative;
	height: 100%;
	min-height: 100vh;
	@include outline;
}

.l__floating-box {
	position: absolute;
	z-index: 1;
}

.l__fixed-box {
	position: fixed;
	bottom: 5rem;
	float: left;
	width: 24rem;
	z-index: 2;
	visibility: hidden;
}
.js-visible .l__fixed-box,
.js-visible.l__fixed-box  {
	visibility: visible;
}