nav.nav
	ul.nav__section.nav__section--primary
		li
			a.nav__primary-link
				a(href="/styleguide/index.html") home
		li
			a.nav__primary-link elements
			ul.nav__section.nav__section--secondary
				li
					a(href="/styleguide/elements/_base.html") base
				li
					a(href="/styleguide/elements/_forms.html") forms
		li
			a.nav__primary-link modules
			ul.nav__section.nav__section--secondary
				li
					a(href="/styleguide/modules/_global-footer.html") global footer
				li.nav__link--current
					a(href="/styleguide/modules/_nav-menu.html") nav menu
				li
					a(href="/styleguide/modules/_project-descriptions.html") project descriptions
				li
					a(href="/styleguide/modules/_project-item.html") project item
				li
					a(href="/styleguide/modules/_site-header.html") site header
		li
			a.nav__primary-link templates
			ul.nav__section.nav__section--secondary
				li
					a(href="/styleguide/layouts/_home-page.html") home
				li
					a(href="/styleguide/layouts/_project-page.html") project page
				li
					a(href="/styleguide/layouts/_about-page.html") about page