
h1 Article title
address published on such and such date by <a href="#">person</a>
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

h2 Header H2
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

blockquote This is a blockquote

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

h3 Header h3
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

ul
	li list item 1
	li list item 2
	li list item 3
		ul
			li nested list item
				ul
					li three levels deep!
figure
	img(src="http://placehold.it/500x200")
	figcaption figure caption

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

p <img src="http://placehold.it/100x100" style="float:left;"/>
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

p <img src="http://placehold.it/100x100" style="float:right;"/>
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci, vel eos iure ut nobis, commodi dignissimos perspiciatis, esse officiis error ullam odio quod! Debitis ullam doloribus sequi et dolores!

h4 H4 with an ordered list below

ol
	li ordered list item
	li list item 2
	li list item 3
		ol
			li nested ordered list item!
				ol
					li three levels deep!

footer and a footer

